<nav>
	<ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_book_livres')}}">Liste LIVRES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_author_list')}}">Liste AUTEURS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_category_list')}}">Liste CATEGORIES</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Création</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{path('app_book_new')}}">Crée livre</a></li>
              <li><a class="dropdown-item" href="{{path('app_author_new')}}">Crée auteur</a></li>
              <li><a class="dropdown-item" href="{{path('app_category_new')}}">Crée catégorie</a></li>
            </ul>
        </li>

    </ul> 

</nav> 