{% extends "calcul/baseCalcul.html.twig" %}

{% block titre %}Addition
{% endblock %}
{% block body %}
	<h1>Hello voici le calcul demandé
	</h1>
	{% if op %}
		<h2>{{ x }}
			{{ op }}
			{{ y }}
			=
			{{ result }}</h2>
	{% else %}
		<h2>Impossible de calculer
			{{x}}
			et
			{{ y }}</h2>
		<h2>{{ error }}</h2>
	{% endif %}
{% endblock %}
