{% extends "base/librairie.html.twig" %}

{% block content %}
	<h2>
		Vous allez modifier le livre à l'id :
		{{id}}
		// Son nom est :
		{{titre}}
	</h2>

	<form method="POST">
		<div class='input-group mb-3'>
			<input class='form-control' name="title" type="text" placeholder=" {{titre}} ">
		</div>
		<div class='input-group mb-3'>
			<input class='form-control' name="price" type="number" step="0.01" placeholder="{{price}}">
		</div>
		<div class='input-group mb-3'>
			<textarea class='form-control' name="description" placeholder="{{desc}}"></textarea>
		</div>
		<div>
			<button class="btn btn-primary" type="submit">Sauvegarde le livre</button>
		</div>
	</form>
{% endblock %}
